.x-form-label-field {
	font-family: 'Myriad Pro','Myriad Web','Tahoma','Helvetica','Arial',sans-serif;
	border: none;
	background: #DFE8f6;
	color: #484848 !important;
	font-weight: bold;
	font-size: 13px
}