<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %C.%M(%L):%n==> %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="FATAL" />
		</filter>
	</appender>

	<appender name="logfile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="DatePattern" value="'.'yyyyMMdd" />
		<param name="file" value="/opt/testGit/log/testGit.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %C.%M(%L):%n==> %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="ERROR" />
			<param name="LevelMax" value="FATAL" />
		</filter>
	</appender>

	<appender name="email" class="org.apache.log4j.net.SMTPAppender">
		<param name="SMTPHost" value=""/>
		<param name="From" value="testGit@colmena.cl" />
		<param name="To" value="" />
		<param name="Subject" value="" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %C.%M(%L):%n==> %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="ERROR" />
			<param name="LevelMax" value="FATAL" />
		</filter>
	</appender>

	<root>
		<priority value="debug" />
			<appender-ref ref="console" />
			<appender-ref ref="logfile" />
<!--  		<appender-ref ref="email" /> -->
	</root>

</log4j:configuration>